html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mapid {
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.my-custom-control {
    padding:5px 10px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    border-radius: 5px;
}

.my-custom-control:empty {
    display: none;
}